* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-image: url(../img/background2.jpg);
    background-size: cover;
    /* align-content: center; */
}
table {
    float: right;
    margin-right: 10%;
    font-size: x-large;
}

.para1 {
    width: 30%;
    border: 10px cadetblue;
    border-style: solid;
    border-radius: 2%;
    margin-left: 50px;
}
.img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;
}
.head {
    text-align: center;
    color: grey;
}   

.word {
    font-weight: bolder;
    font-style: italic;
}