* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a {
    text-decoration: none !important;
    color: black;
    font-weight: bolder;
}

#contactbg {
    background-image: url("../img/background2.jpg");
    background-size: cover;
    background-position: center;
    display: grid;
    /* place-items: center;
    min-height: 100vh;
    padding-top: 65px; */
}

#contact-head{
    padding-bottom: 50px;
}
.form {
    text-align: center;
    background: rgba( 82, 82, 82, 0.2 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 4.5px );
    -webkit-backdrop-filter: blur( 4.5px );
    border-radius: 10px;
    border: 3px solid rgba( 255, 255, 255, 0.18 );
    margin-top: 30px;
    margin-left: 35%;
    margin-right: 35%;
    /* display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    flex: 0 1 100px;
    padding-top: 200px; */
}
    input:hover {
    opacity: 0.7;
}
textarea:hover{
    opacity: 0.7;
}
::placeholder{
    color: black;
}
textarea{
    background-color: slategray;
    opacity: 0.4;
    border: solid;
    width: 300px;
}
.inputblock {
    background-color: slategrey;
    opacity: 0.4;
    border: solid;
    width: 300px;
}

.buttons:hover {
    background:#016ABC;
    color:#fff;
    border:1px solid#eee;
    border-radius:20px;
    box-shadow:2px 2px 2px#eee;
    text-shadow:none;
}
.buttons {
    background:#486e8d;
    color:#fff;
    border:1px solid#eee;
    border-radius:20px;
    box-shadow:2px 2px 2px#eee;
    text-shadow:none;
    width: 20%;
    height: 20%;
}

#fadein {
    animation: fadeIn ease 2s;
  }
  @keyframes fadeIn{
    0% {
      opacity:0;
    }
    100% {
      opacity:1;
    }
  }
  