* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-image: url(../img/background2.jpg);
    background-size: cover;
    align-content: center;
}
.img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;
    animation-direction: normal;
    -webkit-box-shadow: 5px 11px 30px 9px #000000; 
    box-shadow: 5px 11px 30px 9px #000000;
}
.head {
    font-family: 'Oswald', sans-serif;
}
.para {
    font-size: large;
    color: rgb(180, 127, 12);
}
.fblock {
    text-align: center;
    
}

.fa-linkedin {
    background: #007bb5;
    color: white;
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-decoration: none;
}
.fa-google {
    background: #dd4b39;
    color: white;
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-decoration: none;
}
.iconn {
    text-align: center;
}


.bounce:hover {
    animation: bounce 2s infinite;
    -webkit-animation: bounce 2s infinite;
    -moz-animation: bounce 2s infinite;
    -o-animation: bounce 2s infinite;
  }

@-webkit-keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
    -webkit-transform: translateY(0);
    }
    40% {
    -webkit-transform: translateY(-30px);
    }
    60% {
    -webkit-transform: translateY(-15px);
    }
}
@-moz-keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
      -moz-transform: translateY(0);
    }
    40% {
      -moz-transform: translateY(-30px);
    }
    60% {
      -moz-transform: translateY(-15px);
    }
  }
  @-o-keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
      -o-transform: translateY(0);
    }
    40% {
      -o-transform: translateY(-30px);
    }
    60% {
      -o-transform: translateY(-15px);
    }
  }
  @keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
      transform: translateY(0);
    }
    40% {
      transform: translateY(-30px);
    }
    60% {
      transform: translateY(-15px);
    }
  }